<?xml version="1.0" encoding="UTF-8"?>
<TimeSeries xmlns="http://www.wldelft.nl/fews/PI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews/PI http://fews.wldelft.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd" version="1.2">
 <timeZone>0.0</timeZone>
 <series>
  <header>
   <type>instantaneous</type>
   <locationId>P1201</locationId>
   <parameterId>WNS954</parameterId>
   <timeStep unit="second" multiplier="300"/>
   <startDate date="2009-02-13" time="23:30:00"/>
   <endDate date="2009-02-14" time="00:15:00"/>
  </header>
  <event date="2009-02-13" time="23:30:00" value="1" flag="0"/>
  <event date="2009-02-13" time="23:35:00" value="1" flag="0"/>
  <event date="2009-02-13" time="23:40:00" value="1" flag="0"/>
  <event date="2009-02-13" time="23:45:00" value="1" flag="0"/>
  <event date="2009-02-13" time="23:50:00" value="1" flag="0"/>
  <event date="2009-02-13" time="23:55:00" value="1" flag="0"/>
  <event date="2009-02-14" time="00:00:00" value="1" flag="0"/>
  <event date="2009-02-14" time="00:05:00" value="1" flag="0"/>
  <event date="2009-02-14" time="00:10:00" value="1" flag="0"/>
  <event date="2009-02-14" time="00:15:00" value="1" flag="0"/>
 </series>
 <series>
  <header>
   <type>instantaneous</type>
   <locationId>P1202</locationId>
   <parameterId>WNS954</parameterId>
   <timeStep unit="nonequidistant"/>
   <startDate date="1970-01-01" time="00:00:00"/>
   <endDate date="1970-01-01" time="00:00:00"/>
  </header>
 </series>
</TimeSeries>
