export(as.seconds,
       as.seconds.Date,
       as.seconds.POSIXct,
       as.seconds.default,
       as.seconds.difftime,
       cumulate.timeseries,
       contiguous.stretch,
       na.fill,
       na.interpolate,
       na.zero,
       read.BfG,
       read.PI,
       read.dcf.parsed,
       rollapply,
       rollingSum,
       select.percentiles,
       setup.fewsdiagnostics,
       shift.vector,
       stretches,
       teardown.fewsdiagnostics,
       timeseries,
       timestamp.in.range,
       timestamp.in.range.calendar,
       timestamp.in.range.hour,
       timestamp.in.range.weekday,
       timestamp.in.weekend,
       write.PI)
       

