export(as.seconds,
       cumulate.timeseries,
       contiguous.stretch,
       double.threshold,
       findLocalMin,
       findLocalMax,
       get.step,
       multi.double.threshold,
       na.fill,
       na.interpolate,
       na.zero,
       read.BfG,
       read.PI,
       read.dcf.parsed,
       read.sheet,
       rollapply.delftfews,
       rollapply.default,
       rollingSum,
       select.percentiles,
       setup.fewsdiagnostics,
       shift.vector,
       stretches,
       teardown.fewsdiagnostics,
       timeseries,
       timestamp.in.range,
       timestamp.in.range.calendar,
       timestamp.in.range.hour,
       timestamp.in.range.weekday,
       timestamp.in.weekend,
       write.PI,
       Ops.zoo, # modified from new version
       "$.zoo", # UNmodified from new version
       "$<-.zoo", # modified from new version
       "[<-.zoo", # modified from new version
       "[.zoo", # modified from new version
       "[<-.delftfews",
       "[.delftfews",
       "$<-.delftfews",
       "$.delftfews")

S3method(double.threshold, default)
S3method(double.threshold, data.frame)
S3method(double.threshold, matrix)

S3method(multi.double.threshold, default)
S3method(multi.double.threshold, data.frame)
S3method(multi.double.threshold, matrix)

S3method(as.seconds, default)
S3method(as.seconds, Date)
S3method(as.seconds, POSIXct)
S3method(as.seconds, difftime)

S3method(write.PI, data.frame)
S3method(write.PI, zoo)

S3method(get.step, default)
S3method(get.step, zoo)
