export(as.seconds,
       as.seconds.Date,
       as.seconds.POSIXct,
       as.seconds.default,
       as.seconds.difftime,
       cumulate.timeseries,
       contiguous.stretch,
       double.threshold, double.threshold.default, double.threshold.data.frame, double.threshold.matrix, 
       multi.double.threshold, multi.double.threshold.default, multi.double.threshold.data.frame, multi.double.threshold.matrix, 
       na.fill,
       na.interpolate,
       na.zero,
       read.BfG,
       read.PI,
       read.dcf.parsed,
       rollapply.delftfews,
       rollapply.default,
       rollingSum,
       select.percentiles,
       setup.fewsdiagnostics,
       shift.vector,
       stretches,
       teardown.fewsdiagnostics,
       timeseries,
       timestamp.in.range,
       timestamp.in.range.calendar,
       timestamp.in.range.hour,
       timestamp.in.range.weekday,
       timestamp.in.weekend,
       write.PI,
       write.PI.data.frame,
       write.PI.zoo,
       Ops.zoo, # modified from new version
       "$.zoo", # UNmodified from new version
       "$<-.zoo", # modified from new version
       "[<-.zoo", # modified from new version
       "[.zoo", # modified from new version
       "[<-.delftfews",
       "[.delftfews",
       "$<-.delftfews",
       "$.delftfews")
